# Produção (padrão)
LIFERAY_BASE_URL=https://www.smiles.com.br
LIFERAY_SITE_ID_PRODUCTION=20124

# Homologação: defina a URL exata de cada ambiente na Vercel
LIFERAY_STAGING_GREEN_BASE_URL=https://portal-green-stg-svc.smiles.com.br
LIFERAY_STAGING_BLUE_BASE_URL=
LIFERAY_SITE_ID_STAGING=20124
